.geo-nav {
    position: relative;
    width: 1440rem;
    height: 100%;
    overflow: hidden;

    .group1 {
        width: 1440rem;
        height: 100%;

        .section1 {
            background-color: rgba(255, 255, 255, 1);
            height: 111rem;
            border: 1px solid rgba(140, 140, 140, 1);
            width: 1440rem;

            .mod1 {
                width: 1373rem;
                height: 73rem;
                margin: 24rem 0 0 28rem;

                .group2 {
                    width: 40rem;
                    height: 40rem;
                    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng32d2c5280e58a37c275b160e9dbe1820ec860c258a16d806dd4f8fc883de309c);
                    margin-top: 16rem;
                }

                .group3 {
                    width: 55rem;
                    height: 69rem;
                    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng95b356ec93a364059ef172df897ca8872e33be01c28f05c9b8391adb481784e2) -4rem -4rem no-repeat;
                    background-size: 63rem 76rem;
                    margin-left: 31rem;
                }

                .word1 {
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
                    width: 159rem;
                    height: 67rem;
                    overflow-wrap: break-word;
                    color: rgba(0, 58, 140, 1);
                    font-size: 47rem;
                    font-family: AcademyEngravedLetPlain;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 67rem;
                    display: block;
                    margin: 6rem 0 0 36rem;
                }

                .info1 {
                    width: 166rem;
                    height: 22rem;
                    overflow-wrap: break-word;
                    color: rgba(140, 140, 140, 1);
                    font-size: 18rem;
                    font-family: PingFangSC-Regular;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 22rem;
                    display: block;
                    margin: 31rem 0 0 44rem;
                }

                .group4 {
                    width: 15rem;
                    height: 15rem;
                    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngf81bd2a761bfe143c11336152e002a919db9e40440c216e88ce4d64a4807a8af);
                    background-size: 100% 100%;
                    margin: 34rem 0 0 10rem;
                }

                .word2 {
                    width: 162rem;
                    height: 22rem;
                    overflow-wrap: break-word;
                    color: rgba(9, 109, 217, 1);
                    font-size: 18rem;
                    font-family: PingFangSC-Regular;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 22rem;
                    display: block;
                    margin: 31rem 0 0 9rem;
                }

                .group5 {
                    width: 53rem;
                    height: 53rem;
                    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng15a6cd009e3286e815e35a13e0690606243c1e0bb85c681dcd6388b15c663104);
                    background-size: 100% 100%;
                    margin: 5rem 0 0 288rem;
                }

                .group6 {
                    width: 62rem;
                    height: 62rem;
                    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng9cfbd7e4c30f97818b2a1ba757bf8bb91b5aa3b450a590cf97cfb03e20b965d1);
                    background-size: 100% 100%;
                    margin-left: 25rem;
                }

                .group7 {
                    width: 53rem;
                    height: 53rem;
                    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4eaca1e27d198156522fea8edbbd96be13c639168efe0e098070f700b8b75178);
                    background-size: 100% 100%;
                    margin: 5rem 0 0 25rem;
                }

                .txt1 {
                    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                    width: 115rem;
                    height: 42rem;
                    overflow-wrap: break-word;
                    color: rgba(0, 80, 179, 1);
                    font-size: 30rem;
                    font-family: PingFangSC-Semibold;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 42rem;
                    display: block;
                    margin: 10rem 0 0 25rem;
                }
            }
        }

        .section2 {
            width: 1440rem;
            flex: 1;

            .box1 {
                height: 100%;
                background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnga2afceec51f6ceba02100b09079de552ece06926c72ae532e1fbee3ebe4540e2);
                width: 1042rem;
                background-size: 100% 100%;

                .section3 {
                    width: 979rem;
                    height: 253rem;
                    margin: 25rem 0 0 31rem;

                    .bd1 {
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.38);
                        background-color: rgba(255, 255, 255, 0.5);
                        border-radius: 10px;
                        height: 247rem;
                        border: 1px solid rgba(202, 202, 202, 1);
                        margin-top: 6rem;
                        width: 342rem;

                        .box2 {
                            width: 299rem;
                            height: 33rem;
                            margin: 19rem 0 0 24rem;

                            .info2 {
                                width: 54rem;
                                height: 25rem;
                                overflow-wrap: break-word;
                                color: rgba(255, 255, 255, 1);
                                font-size: 18rem;
                                font-family: PingFangSC-Regular;
                                text-align: center;
                                white-space: nowrap;
                                line-height: 25rem;
                                margin-top: 4rem;
                                display: block;
                            }

                            .mod2 {
                                border-radius: 7px;
                                height: 33rem;
                                border: 1px solid rgba(216, 216, 216, 1);
                                width: 228rem;

                                .txt2 {
                                    width: 90rem;
                                    height: 25rem;
                                    overflow-wrap: break-word;
                                    color: rgba(255, 255, 255, 1);
                                    font-size: 18rem;
                                    font-family: PingFangSC-Regular;
                                    text-align: left;
                                    white-space: nowrap;
                                    line-height: 25rem;
                                    display: block;
                                    margin: 4rem 0 0 6rem;
                                }
                            }
                        }

                        .box3 {
                            width: 281rem;
                            height: 50rem;
                            margin: 16rem 0 0 42rem;

                            .info3 {
                                width: 36rem;
                                height: 25rem;
                                overflow-wrap: break-word;
                                color: rgba(255, 255, 255, 1);
                                font-size: 18rem;
                                font-family: PingFangSC-Regular;
                                text-align: center;
                                white-space: nowrap;
                                line-height: 25rem;
                                display: block;
                            }

                            .word3 {
                                width: 228rem;
                                height: 50rem;
                                overflow-wrap: break-word;
                                color: rgba(255, 255, 255, 1);
                                font-size: 18rem;
                                font-family: PingFangSC-Regular;
                                text-align: left;
                                line-height: 25rem;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: block;
                            }
                        }

                        .box4 {
                            width: 271rem;
                            height: 25rem;
                            margin: 8rem 0 0 42rem;

                            .txt3 {
                                width: 36rem;
                                height: 25rem;
                                overflow-wrap: break-word;
                                color: rgba(255, 255, 255, 1);
                                font-size: 18rem;
                                font-family: PingFangSC-Regular;
                                text-align: center;
                                white-space: nowrap;
                                line-height: 25rem;
                                display: block;
                            }

                            .info4 {
                                width: 218rem;
                                height: 25rem;
                                overflow-wrap: break-word;
                                color: rgba(255, 255, 255, 1);
                                font-size: 18rem;
                                font-family: PingFangSC-Regular;
                                text-align: center;
                                white-space: nowrap;
                                line-height: 25rem;
                                display: block;
                            }
                        }

                        .box5 {
                            width: 142rem;
                            height: 35rem;
                            margin: 37rem 0 24rem 181rem;

                            .layer1 {
                                border-radius: 12px;
                                width: 142rem;
                                height: 35rem;
                                border: 1px solid rgba(245, 34, 45, 1);
                            }

                            .word4 {
                                text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
                                width: 72rem;
                                height: 25rem;
                                overflow-wrap: break-word;
                                color: rgba(245, 34, 45, 1);
                                font-size: 18rem;
                                font-family: PingFangSC-Semibold;
                                text-align: right;
                                white-space: nowrap;
                                line-height: 25rem;
                                display: block;
                                margin: 5rem 35rem 0 -107rem;
                            }
                        }
                    }

                    .bd2 {
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.38);
                        background-color: rgba(255, 255, 255, 0.5);
                        border-radius: 10px;
                        height: 43rem;
                        border: 1px solid rgba(185, 185, 185, 1);
                        width: 353rem;

                        .layer2 {
                            width: 330rem;
                            height: 24rem;
                            margin: 10rem 0 0 12rem;

                            .txt4 {
                                width: 102rem;
                                height: 22rem;
                                overflow-wrap: break-word;
                                color: rgba(255, 255, 255, 1);
                                font-size: 16rem;
                                font-family: PingFangSC-Regular;
                                text-align: left;
                                white-space: nowrap;
                                line-height: 22rem;
                                display: block;
                            }

                            .group8 {
                                width: 24rem;
                                height: 24rem;
                                background-size: 100% 100%;
                                background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng141d8cc0955f56616b90a44abf8c9dc4e3c88845afb279f24df589bf4a1981a6);
                            }
                        }
                    }
                }

                .section4 {
                    width: 43rem;
                    height: 43rem;
                    margin: 261rem 0 331rem 582rem;

                    .main1 {
                        width: 43rem;
                        height: 43rem;
                        background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng62e91ba9b957f7742a4640365f3e54ad3199dba31323a2d5e60844472dd470dd) -9rem -9rem no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }

            .box6 {
                background-color: rgba(217, 217, 217, 1);
                height: 100%;
                width: 398rem;

                .layer3 {
                    width: 398rem;
                    height: 138rem;

                    .main2 {
                        background-color: rgba(255, 255, 255, 1);
                        height: 69rem;
                        border: 1px solid rgba(151, 151, 151, 1);
                        width: 398rem;

                        .bd3 {
                            width: 344rem;
                            height: 25rem;
                            margin: 22rem 0 0 26rem;

                            .layer4 {
                                width: 20rem;
                                height: 20rem;
                                background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4293688bd637daae826bebd8e71411dec879400713955dad88ee7a999d7238a8);
                                margin-top: 3rem;
                                background-size: 100% 100%;
                            }

                            .word5 {
                                width: 72rem;
                                height: 25rem;
                                overflow-wrap: break-word;
                                color: rgba(89, 89, 89, 1);
                                font-size: 18rem;
                                font-family: PingFangSC-Semibold;
                                text-align: left;
                                white-space: nowrap;
                                line-height: 25rem;
                                margin-left: 14rem;
                                display: block;
                            }

                            .layer5 {
                                width: 19rem;
                                height: 1rem;
                                background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng550f75f93ad4f6977a6b47e259636de18977b057b2e83afc5debcad0cb350dc2) -1rem -1rem no-repeat;
                                background-size: 21rem 3rem;
                                margin: 12rem 0 0 219rem;
                            }
                        }
                    }

                    .main3 {
                        background-color: rgba(255, 255, 255, 1);
                        height: 69rem;
                        border: 1px solid rgba(151, 151, 151, 1);
                        width: 398rem;

                        .mod3 {
                            width: 345rem;
                            height: 25rem;
                            margin: 22rem 0 0 25rem;

                            .outer1 {
                                width: 22rem;
                                height: 22rem;
                                background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngc15fd64ac3b0f7931f68b89082f6c7817b84cbe6afa78378f6eeb3d085c49a1b);
                                margin-top: 2rem;
                                background-size: 100% 100%;
                            }

                            .word6 {
                                width: 72rem;
                                height: 25rem;
                                overflow-wrap: break-word;
                                color: rgba(89, 89, 89, 1);
                                font-size: 18rem;
                                font-family: PingFangSC-Semibold;
                                text-align: left;
                                white-space: nowrap;
                                line-height: 25rem;
                                margin-left: 13rem;
                                display: block;
                            }

                            .outer2 {
                                width: 19rem;
                                height: 1rem;
                                background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng550f75f93ad4f6977a6b47e259636de18977b057b2e83afc5debcad0cb350dc2) -1rem -1rem no-repeat;
                                background-size: 100% 100%;
                                margin: 12rem 0 0 219rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
