.indoor-nav {
    position: relative;
    width: 1440rem;
    height: 100%;
    overflow: hidden;

    .main1 {
        width: 1440rem;
        height: 100%;

        .block1 {
            background-color: rgba(255, 255, 255, 1);
            height: 111rem;
            border: 1px solid rgba(140, 140, 140, 1);
            width: 1440rem;

            .box1 {
                width: 1373rem;
                height: 73rem;
                margin: 24rem 0 0 28rem;

                .group1 {
                    width: 40rem;
                    height: 40rem;
                    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng32d2c5280e58a37c275b160e9dbe1820ec860c258a16d806dd4f8fc883de309c);
                    background-size: 100% 100%;
                    margin-top: 16rem;
                }

                .group2 {
                    width: 55rem;
                    height: 69rem;
                    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng95b356ec93a364059ef172df897ca8872e33be01c28f05c9b8391adb481784e2) -4rem -4rem no-repeat;
                    background-size: 63rem 76rem;
                    margin-left: 31rem;
                }

                .txt1 {
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
                    width: 159rem;
                    height: 67rem;
                    overflow-wrap: break-word;
                    color: rgba(0, 58, 140, 1);
                    font-size: 47rem;
                    font-family: AcademyEngravedLetPlain;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 67rem;
                    display: block;
                    margin: 6rem 0 0 36rem;
                }

                .word1 {
                    width: 166rem;
                    height: 22rem;
                    overflow-wrap: break-word;
                    color: rgba(140, 140, 140, 1);
                    font-size: 18rem;
                    font-family: PingFangSC-Regular;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 22rem;
                    display: block;
                    margin: 31rem 0 0 44rem;
                }

                .group3 {
                    width: 15rem;
                    height: 15rem;
                    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngf81bd2a761bfe143c11336152e002a919db9e40440c216e88ce4d64a4807a8af);
                    background-size: 100% 100%;
                    margin: 34rem 0 0 10rem;
                }

                .txt2 {
                    width: 162rem;
                    height: 22rem;
                    overflow-wrap: break-word;
                    color: rgba(9, 109, 217, 1);
                    font-size: 18rem;
                    font-family: PingFangSC-Regular;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 22rem;
                    display: block;
                    margin: 31rem 0 0 9rem;
                }

                .group4 {
                    width: 53rem;
                    height: 53rem;
                    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng15a6cd009e3286e815e35a13e0690606243c1e0bb85c681dcd6388b15c663104);
                    background-size: 100% 100%;
                    margin: 5rem 0 0 288rem;
                }

                .group5 {
                    width: 62rem;
                    height: 62rem;
                    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng9cfbd7e4c30f97818b2a1ba757bf8bb91b5aa3b450a590cf97cfb03e20b965d1);
                    background-size: 100% 100%;
                    margin-left: 25rem;
                }

                .group6 {
                    width: 53rem;
                    height: 53rem;
                    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4eaca1e27d198156522fea8edbbd96be13c639168efe0e098070f700b8b75178);
                    background-size: 100% 100%;
                    margin: 5rem 0 0 25rem;
                }

                .info1 {
                    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                    width: 115rem;
                    height: 42rem;
                    overflow-wrap: break-word;
                    color: rgba(0, 80, 179, 1);
                    font-size: 30rem;
                    font-family: PingFangSC-Semibold;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 42rem;
                    display: block;
                    margin: 10rem 0 0 25rem;
                }
            }
        }

        .block2 {
            width: 1440rem;
            flex: 1;

            .layer1 {
                z-index: 56;
                height: 100%;
                background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng64a36168df39d284970e25e656c995f1da510c0731493a0e7682b53fdadd76c8);
                background-size: 100% 100%;
                width: 1042rem;
                position: relative;

                .section1 {
                    width: 976rem;
                    height: 47rem;
                    margin: 34rem 0 0 29rem;

                    .section2 {
                        width: 256rem;
                        height: 47rem;
                        background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngd0b399ad643344871c469d9ef1e53f5ebe6e4d5e536e9a75f55db0bb976ccca7) -3rem -1rem no-repeat;
                        background-size: 266rem 57rem;
                    }

                    .section3 {
                        box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.38);
                        height: 47rem;
                        width: 202rem;

                        .main2 {
                            width: 202rem;
                            height: 47rem;

                            .group7 {
                                height: 47rem;
                                background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng97c1abf80a49b14639d67340b2fcc0ca6384d5647fe0b8eb80970a8d4a14caaa) -3rem -1rem no-repeat;
                                background-size: 111rem 57rem;
                                width: 101rem;

                                .txt3 {
                                    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
                                    width: 64rem;
                                    height: 22rem;
                                    overflow-wrap: break-word;
                                    color: rgba(255, 255, 255, 1);
                                    font-size: 16rem;
                                    font-family: PingFangSC-Semibold;
                                    text-align: left;
                                    white-space: nowrap;
                                    line-height: 22rem;
                                    display: block;
                                    margin: 12rem 0 0 19rem;
                                }
                            }

                            .group8 {
                                height: 47rem;
                                background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngcfe3af4bdd7f818fc20b0958358e8d172f8deb1a361e2390014fe70876d35649) -3rem -1rem no-repeat;
                                background-size: 111rem 57rem;
                                width: 101rem;

                                .word2 {
                                    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
                                    width: 64rem;
                                    height: 22rem;
                                    overflow-wrap: break-word;
                                    color: rgba(89, 89, 89, 1);
                                    font-size: 16rem;
                                    font-family: PingFangSC-Semibold;
                                    text-align: right;
                                    white-space: nowrap;
                                    line-height: 22rem;
                                    display: block;
                                    margin: 12rem 0 0 19rem;
                                }
                            }
                        }
                    }
                }

                .section4 {
                    width: 88rem;
                    height: 22rem;
                    margin: 398rem 0 0 751rem;

                    .word3 {
                        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
                        width: 88rem;
                        height: 22rem;
                        overflow-wrap: break-word;
                        color: rgba(255, 253, 253, 1);
                        font-size: 16rem;
                        font-family: PingFangSC-Semibold;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 22rem;
                        display: block;
                    }
                }

                .section5 {
                    width: 753rem;
                    height: 220rem;
                    margin: 12rem 0 0 222rem;

                    .word4 {
                        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
                        width: 88rem;
                        height: 22rem;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 16rem;
                        font-family: PingFangSC-Semibold;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 22rem;
                        margin-top: 102rem;
                        display: block;
                    }

                    .box2 {
                        box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3);
                        background-color: rgba(64, 169, 255, 1);
                        border-radius: 50%;
                        width: 27rem;
                        height: 27rem;
                        border: 2px solid rgba(255, 255, 255, 1);
                        margin: 99rem 0 0 8rem;
                    }

                    .info2 {
                        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
                        width: 94rem;
                        height: 20rem;
                        overflow-wrap: break-word;
                        color: rgba(255, 253, 253, 1);
                        font-size: 14rem;
                        font-family: PingFangSC-Semibold;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 20rem;
                        display: block;
                        margin: 121rem 0 0 169rem;
                    }

                    .pic1 {
                        width: 1rem;
                        height: 220rem;
                        margin-left: 143rem;
                    }

                    .box3 {
                        width: 146rem;
                        height: 83rem;
                        margin: 46rem 0 0 77rem;

                        .txt4 {
                            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
                            width: 91rem;
                            height: 20rem;
                            overflow-wrap: break-word;
                            color: rgba(255, 253, 253, 1);
                            font-size: 14rem;
                            font-family: PingFangSC-Semibold;
                            text-align: left;
                            white-space: nowrap;
                            line-height: 20rem;
                            display: block;
                        }

                        .section6 {
                            width: 120rem;
                            height: 28rem;
                            margin: 35rem 0 0 26rem;

                            .group9 {
                                box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3);
                                background-color: rgba(255, 255, 255, 1);
                                border-radius: 50%;
                                width: 23rem;
                                height: 23rem;
                            }

                            .word5 {
                                text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
                                width: 88rem;
                                height: 22rem;
                                overflow-wrap: break-word;
                                color: rgba(255, 253, 253, 1);
                                font-size: 16rem;
                                font-family: PingFangSC-Semibold;
                                text-align: left;
                                white-space: nowrap;
                                line-height: 22rem;
                                margin-top: 6rem;
                                display: block;
                            }
                        }
                    }
                }

                .section7 {
                    width: 23rem;
                    height: 9rem;
                    margin-left: 740rem;

                    .main3 {
                        border-radius: 50%;
                        width: 23rem;
                        height: 9rem;
                        border: 1px solid rgba(255, 255, 255, 1);
                    }
                }

                .section8 {
                    width: 558rem;
                    height: 9rem;
                    margin: 126rem 0 36rem 320rem;

                    .outer1 {
                        border-radius: 50%;
                        width: 23rem;
                        height: 9rem;
                        border: 1px solid rgba(255, 255, 255, 1);
                    }

                    .outer2 {
                        border-radius: 50%;
                        width: 23rem;
                        height: 9rem;
                        border: 1px solid rgba(255, 255, 255, 1);
                    }
                }

                .section9 {
                    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3);
                    background-color: rgba(255, 255, 255, 1);
                    border-radius: 50%;
                    z-index: 165;
                    position: absolute;
                    left: 740rem;
                    top: 501rem;
                    width: 23rem;
                    height: 23rem;
                }

                .section10 {
                    z-index: 159;
                    height: 114rem;
                    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng239bad3a2c3ce4afc95681a0a706d81d61f891e85ab223af9548329956a397f5) -5rem -3rem no-repeat;
                    background-size: 126rem 124rem;
                    width: 116rem;
                    position: absolute;
                    left: 751rem;
                    top: 512rem;

                    .wrap1 {
                        width: 105rem;
                        height: 69rem;

                        .outer3 {
                            width: 105rem;
                            height: 1rem;
                            background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng1720cce059647e588cceb999aa630ab6e0f8445a4148fffb9840c6d24815f5b1) -5rem -3rem no-repeat;
                            background-size: 115rem 11rem;
                        }

                        .outer4 {
                            background-color: rgba(22, 182, 217, 1);
                            border-radius: 50%;
                            height: 24rem;
                            width: 24rem;
                            margin: 44rem 0 0 47rem;

                            .mod1 {
                                width: 16rem;
                                height: 16rem;
                                background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng921e6520559025e038c7c5398b7bf2b9cbe5792e4690ab6122db7084c0f2e4fd);
                                background-size: 100% 100%;
                                margin: 4rem 0 0 4rem;
                            }
                        }
                    }

                    .wrap2 {
                        z-index: 160;
                        position: absolute;
                        left: -420rem;
                        top: 113rem;
                        width: 536rem;
                        height: 1rem;
                        background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng9b3466059c5d381ff38fc6198c9b81a0aa34fd84c6503a40b5dc666ec47a329e) -5rem -3rem no-repeat;
                        background-size: 546rem 11rem;
                    }

                    .pic2 {
                        z-index: 168;
                        position: absolute;
                        left: 115rem;
                        top: 113rem;
                        width: 1rem;
                        height: 243rem;
                    }
                }

                .section11 {
                    background-color: rgba(217, 22, 150, 1);
                    border-radius: 50%;
                    z-index: 187;
                    height: 24rem;
                    width: 24rem;
                    position: absolute;
                    left: 490rem;
                    top: 614rem;

                    .main4 {
                        width: 16rem;
                        height: 16rem;
                        background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng921e6520559025e038c7c5398b7bf2b9cbe5792e4690ab6122db7084c0f2e4fd);
                        background-size: 100% 100%;
                        margin: 4rem 0 0 4rem;
                    }
                }

                .section12 {
                    z-index: 161;
                    position: absolute;
                    left: 331rem;
                    top: 625rem;
                    width: 155rem;
                    height: 91rem;
                    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng43edd9cdb054e12581587ed7551569e29747fd8ab88cf486cb4ac8d78c6d99eb) -5rem -3rem no-repeat;
                    background-size: 165rem 101rem;

                    .img1 {
                        z-index: 173;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 1rem;
                        height: 243rem;
                    }
                }
            }

            .layer2 {
                background-color: rgba(217, 217, 217, 1);
                height: 100%;
                width: 398rem;

                .group10 {
                    width: 398rem;
                    height: 276rem;

                    .main5 {
                        background-color: rgba(255, 255, 255, 1);
                        height: 69rem;
                        border: 1px solid rgba(151, 151, 151, 1);
                        width: 398rem;

                        .bd1 {
                            width: 345rem;
                            height: 25rem;
                            margin: 22rem 0 0 25rem;

                            .section13 {
                                width: 22rem;
                                height: 22rem;
                                background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngc15fd64ac3b0f7931f68b89082f6c7817b84cbe6afa78378f6eeb3d085c49a1b);
                                background-size: 100% 100%;
                                margin-top: 2rem;
                            }

                            .word6 {
                                width: 36rem;
                                height: 25rem;
                                overflow-wrap: break-word;
                                color: rgba(89, 89, 89, 1);
                                font-size: 18rem;
                                font-family: PingFangSC-Semibold;
                                text-align: left;
                                white-space: nowrap;
                                line-height: 25rem;
                                margin-left: 13rem;
                                display: block;
                            }

                            .section14 {
                                width: 19rem;
                                height: 1rem;
                                background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng550f75f93ad4f6977a6b47e259636de18977b057b2e83afc5debcad0cb350dc2) -1rem -1rem no-repeat;
                                background-size: 21rem 3rem;
                                margin: 12rem 0 0 255rem;
                            }
                        }
                    }

                    .main6 {
                        background-color: rgba(255, 255, 255, 1);
                        height: 69rem;
                        border: 1px solid rgba(151, 151, 151, 1);
                        width: 398rem;

                        .bd2 {
                            width: 345rem;
                            height: 25rem;
                            margin: 22rem 0 0 25rem;

                            .box4 {
                                width: 22rem;
                                height: 22rem;
                                background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngdf7755e13f908bbf3658ab8ddedb3ef68c437de0a662949d736adff275aad2ad);
                                background-size: 100% 100%;
                                margin-top: 2rem;
                            }

                            .info3 {
                                width: 36rem;
                                height: 25rem;
                                overflow-wrap: break-word;
                                color: rgba(89, 89, 89, 1);
                                font-size: 18rem;
                                font-family: PingFangSC-Semibold;
                                text-align: left;
                                white-space: nowrap;
                                line-height: 25rem;
                                margin-left: 13rem;
                                display: block;
                            }

                            .box5 {
                                width: 19rem;
                                height: 1rem;
                                background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng550f75f93ad4f6977a6b47e259636de18977b057b2e83afc5debcad0cb350dc2) -1rem -1rem no-repeat;
                                background-size: 21rem 3rem;
                                margin: 12rem 0 0 255rem;
                            }
                        }
                    }

                    .main7 {
                        background-color: rgba(255, 255, 255, 1);
                        height: 69rem;
                        border: 1px solid rgba(151, 151, 151, 1);
                        width: 398rem;

                        .group11 {
                            width: 344rem;
                            height: 25rem;
                            margin: 22rem 0 0 26rem;

                            .ImageText1 {
                                height: 25rem;
                                width: 74rem;

                                .outer5 {
                                    width: 74rem;
                                    height: 25rem;

                                    .outer6 {
                                        width: 20rem;
                                        height: 20rem;
                                        background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng0b9a92aaf71057c2323fd73e57c2b0f478089f6dc52de66fc1b883beb61ecdfd);
                                        background-size: 100% 100%;
                                        margin-top: 3rem;
                                    }

                                    .TextGroup1 {
                                        height: 25rem;
                                        width: 40rem;

                                        .info4 {
                                            width: 40rem;
                                            height: 25rem;
                                            overflow-wrap: break-word;
                                            color: rgba(89, 89, 89, 1);
                                            font-size: 18rem;
                                            font-family: PingFangSC-Semibold;
                                            text-align: left;
                                            white-space: nowrap;
                                            line-height: 25rem;
                                            display: block;
                                        }
                                    }
                                }
                            }

                            .mod2 {
                                width: 19rem;
                                height: 1rem;
                                background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng550f75f93ad4f6977a6b47e259636de18977b057b2e83afc5debcad0cb350dc2) -1rem -1rem no-repeat;
                                background-size: 21rem 3rem;
                                margin-top: 12rem;
                            }
                        }
                    }

                    .main8 {
                        background-color: rgba(255, 255, 255, 1);
                        height: 69rem;
                        border: 1px solid rgba(151, 151, 151, 1);
                        width: 398rem;

                        .mod3 {
                            width: 345rem;
                            height: 25rem;
                            margin: 22rem 0 0 25rem;

                            .ImageText2 {
                                height: 25rem;
                                width: 89rem;

                                .block3 {
                                    width: 89rem;
                                    height: 25rem;

                                    .section15 {
                                        width: 22rem;
                                        height: 22rem;
                                        background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng77bca119973000d17d973332643aecf2a3e452ec1cb9a71372a87b83028d5a81);
                                        background-size: 100% 100%;
                                        margin-top: 2rem;
                                    }

                                    .TextGroup2 {
                                        height: 25rem;
                                        width: 54rem;

                                        .word7 {
                                            width: 54rem;
                                            height: 25rem;
                                            overflow-wrap: break-word;
                                            color: rgba(89, 89, 89, 1);
                                            font-size: 18rem;
                                            font-family: PingFangSC-Semibold;
                                            text-align: left;
                                            white-space: nowrap;
                                            line-height: 25rem;
                                            display: block;
                                        }
                                    }
                                }
                            }

                            .wrap3 {
                                width: 19rem;
                                height: 1rem;
                                background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng550f75f93ad4f6977a6b47e259636de18977b057b2e83afc5debcad0cb350dc2) -1rem -1rem no-repeat;
                                background-size: 21rem 3rem;
                                margin-top: 12rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
