.register {
    position: relative;
    width: 1440rem;
    height: 1574rem;
    overflow: hidden;
    background-image: linear-gradient(180deg, #94CFFF 0%, #C7E6FF 23%, #FFFFFF00 100%);

    .main1 {
        width: 1440rem;
        height: 1574rem;
    }

    .section1 {
        height: 506rem;
        background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngdd0ef1b8ceac79327aa20f0a32294c7038e8e6c3ea7b13827a061c0479a71d33) 100% no-repeat;
        width: 1440rem;
    }

    .section2 {
        width: 1320rem;
        height: 75rem;
        margin: 49rem 0 0 58rem;
    }

    .group1 {
        width: 55rem;
        height: 69rem;
        background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngaa32a6db91ab85a2a09c663d84fe2759b0c20df6b777644e5e04d94da9db7353) -3rem -4rem no-repeat;
        background-size: 62rem 76rem;
    }

    .txt1 {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        width: 159rem;
        height: 67rem;
        overflow-wrap: break-word;
        color: rgba(0, 58, 140, 1);
        font-size: 47rem;
        font-family: AcademyEngravedLetPlain;
        text-align: left;
        white-space: nowrap;
        line-height: 67rem;
        display: block;
        margin: 8rem 0 0 39rem;
    }

    .word1 {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        width: 48rem;
        height: 33rem;
        overflow-wrap: break-word;
        color: rgba(0, 58, 140, 1);
        font-size: 24rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 33rem;
        display: block;
        margin: 15rem 0 0 268rem;
    }

    .word2 {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        width: 48rem;
        height: 33rem;
        overflow-wrap: break-word;
        color: rgba(0, 58, 140, 1);
        font-size: 24rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 33rem;
        display: block;
        margin: 15rem 0 0 68rem;
    }

    .word3 {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        width: 96rem;
        height: 33rem;
        overflow-wrap: break-word;
        color: rgba(0, 58, 140, 1);
        font-size: 24rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 33rem;
        display: block;
        margin: 15rem 0 0 67rem;
    }

    .info1 {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        width: 96rem;
        height: 33rem;
        overflow-wrap: break-word;
        color: rgba(0, 58, 140, 1);
        font-size: 24rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 33rem;
        display: block;
        margin: 15rem 0 0 68rem;
    }

    .word4 {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        width: 83rem;
        height: 33rem;
        overflow-wrap: break-word;
        color: rgba(0, 58, 140, 1);
        font-size: 24rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 33rem;
        display: block;
        margin: 15rem 0 0 67rem;
    }

    .group2 {
        width: 40rem;
        height: 40rem;
        background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnga4ba2bb07d2b617920ef374aad02cfe17b5638f8eacb6eec0c7229458aae1e82) 0rem 0rem no-repeat;
        background-size: 41rem 40rem;
        margin: 11rem 0 0 44rem;
    }

    .group3 {
        background-color: rgba(191, 191, 191, 1);
        border-radius: 9px;
        height: 25rem;
        width: 68rem;
        margin: 19rem 0 0 6rem;
    }

    .txt2 {
        width: 34rem;
        height: 21rem;
        overflow-wrap: break-word;
        color: rgba(255, 255, 255, 1);
        font-size: 15rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 21rem;
        display: block;
        margin: 2rem 0 0 17rem;
    }

    .section3 {
        z-index: 3;
        position: relative;
        width: 1440rem;
        height: 773rem;
        background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng3ac4bf2d1a622d1d5bfe60950e4b287daad22da9152dd43807845eb79a4fb05a) 100% no-repeat;
        margin-top: 295rem;
    }

    .group4 {
        z-index: 69;
        height: 1345rem;
        background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng2619be94e14934a7590a4a2beb363102201620c562817e8728b4af033764a3bf) -4rem -2rem no-repeat;
        background-size: 796rem 1361rem;
        width: 780rem;
        position: absolute;
        left: 330rem;
        top: -629rem;
    }

    .layer1 {
        width: 611rem;
        height: 1200rem;
        margin: 88rem 0 0 75rem;
    }

    .word5 {
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.34);
        width: 446rem;
        height: 50rem;
        overflow-wrap: break-word;
        color: rgba(0, 80, 179, 1);
        font-size: 36rem;
        font-family: PingFangSC-Semibold;
        text-align: right;
        white-space: nowrap;
        line-height: 50rem;
        margin-left: 4rem;
        display: block;
    }

    .outer1 {
        width: 79rem;
        height: 30rem;
        margin: 56rem 0 0 5rem;
    }

    .word6 {
        width: 74rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(89, 89, 89, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 28rem;
        margin-top: 2rem;
        display: block;
    }

    .info2 {
        width: 14rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(245, 34, 45, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 28rem;
        margin-left: -9rem;
        display: block;
    }

    .outer2 {
        box-shadow: inset -1px -2px 4px 2px rgba(255, 255, 255, 0.52);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 14px;
        height: 58rem;
        width: 606rem;
        margin: 14rem 0 0 5rem;
    }

    .word7 {
        width: 333rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(191, 191, 191, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 28rem;
        display: block;
        margin: 14rem 0 0 20rem;
    }

    .outer3 {
        width: 54rem;
        height: 30rem;
        margin: 30rem 0 0 5rem;
    }

    .word8 {
        width: 40rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(89, 89, 89, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 28rem;
        margin-top: 2rem;
        display: block;
    }

    .txt3 {
        width: 11rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(245, 34, 45, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 28rem;
        display: block;
    }

    .outer4 {
        box-shadow: inset -1px -2px 4px 2px rgba(255, 255, 255, 0.52);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 14px;
        height: 58rem;
        width: 606rem;
        margin: 9rem 0 0 5rem;
    }

    .word9 {
        width: 373rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(191, 191, 191, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 28rem;
        display: block;
        margin: 15rem 0 0 25rem;
    }

    .outer5 {
        width: 94rem;
        height: 30rem;
        margin: 30rem 0 0 5rem;
    }

    .word10 {
        width: 80rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(89, 89, 89, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 28rem;
        margin-top: 2rem;
        display: block;
    }

    .word11 {
        width: 11rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(245, 34, 45, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 28rem;
        display: block;
    }

    .outer6 {
        box-shadow: inset -1px -2px 4px 2px rgba(255, 255, 255, 0.52);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 14px;
        height: 58rem;
        width: 606rem;
        margin: 9rem 0 0 5rem;
    }

    .word12 {
        width: 141rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(191, 191, 191, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 28rem;
        display: block;
        margin: 15rem 0 0 25rem;
    }

    .outer7 {
        width: 94rem;
        height: 30rem;
        margin: 35rem 0 0 5rem;
    }

    .word13 {
        width: 80rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(89, 89, 89, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 28rem;
        margin-top: 2rem;
        display: block;
    }

    .word14 {
        width: 11rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(245, 34, 45, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 28rem;
        display: block;
    }

    .outer8 {
        width: 606rem;
        height: 58rem;
        margin: 11rem 0 0 5rem;
    }

    .mod1 {
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 8px;
        height: 58rem;
        width: 100rem;
    }

    .mod2 {
        width: 74rem;
        height: 30rem;
        margin: 13rem 0 0 15rem;
    }

    .word15 {
        width: 13rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(89, 89, 89, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 28rem;
        display: block;
    }

    .txt4 {
        width: 20rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(89, 89, 89, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: right;
        white-space: nowrap;
        line-height: 28rem;
        display: block;
        margin: 2rem 14rem 0 -1rem;
    }

    .layer2 {
        width: 18rem;
        height: 28rem;
        background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng5a68a29181ec171005426751c7467af52237e9669f4073328ad6fdcc50a0e86f) 100% no-repeat;
        margin: 2rem 0 0 -3rem;
    }

    .mod3 {
        box-shadow: inset -1px -2px 4px 2px rgba(255, 255, 255, 0.52);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 14px;
        height: 58rem;
        width: 356rem;
    }

    .word16 {
        width: 141rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(191, 191, 191, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 28rem;
        display: block;
        margin: 15rem 0 0 28rem;
    }

    .txt5 {
        width: 100rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(24, 144, 255, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: right;
        white-space: nowrap;
        line-height: 28rem;
        margin-top: 15rem;
        display: block;
    }

    .info3 {
        width: 80rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(89, 89, 89, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 28rem;
        margin-top: 37rem;
        display: block;
    }

    .outer9 {
        box-shadow: inset -1px -2px 4px 2px rgba(255, 255, 255, 0.52);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 14px;
        height: 58rem;
        margin-top: 9rem;
        width: 611rem;
    }

    .info4 {
        width: 554rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(191, 191, 191, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 28rem;
        display: block;
        margin: 15rem 0 0 25rem;
    }

    .outer10 {
        width: 94rem;
        height: 30rem;
        margin-top: 35rem;
    }

    .info5 {
        width: 80rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(89, 89, 89, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 28rem;
        margin-top: 2rem;
        display: block;
    }

    .txt6 {
        width: 11rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(245, 34, 45, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 28rem;
        display: block;
    }

    .outer11 {
        width: 421rem;
        height: 48rem;
        margin-top: 9rem;
    }

    .block1 {
        box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.38);
        background-color: rgba(64, 169, 255, 1);
        border-radius: 6px;
        height: 48rem;
        width: 129rem;
    }

    .info6 {
        text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
        width: 40rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(255, 255, 255, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: right;
        white-space: nowrap;
        line-height: 28rem;
        display: block;
        margin: 10rem 0 0 45rem;
    }

    .block2 {
        box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.38);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 6px;
        height: 48rem;
        border: 1px solid rgba(221, 221, 221, 1);
        width: 129rem;
    }

    .info7 {
        text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
        width: 80rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(64, 169, 255, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: right;
        white-space: nowrap;
        line-height: 28rem;
        display: block;
        margin: 10rem 0 0 25rem;
    }

    .block3 {
        box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.38);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 6px;
        height: 48rem;
        border: 1px solid rgba(221, 221, 221, 1);
        width: 129rem;
    }

    .txt7 {
        text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
        width: 40rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(64, 169, 255, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: right;
        white-space: nowrap;
        line-height: 28rem;
        display: block;
        margin: 10rem 0 0 45rem;
    }

    .word17 {
        width: 199rem;
        height: 28rem;
        overflow-wrap: break-word;
        color: rgba(89, 89, 89, 1);
        font-size: 20rem;
        font-family: PingFangSC-Semibold;
        text-align: left;
        white-space: nowrap;
        line-height: 28rem;
        margin-top: 47rem;
        display: block;
    }

    .outer12 {
        box-shadow: inset -1px -2px 4px 2px rgba(255, 255, 255, 0.52);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 14px;
        width: 611rem;
        height: 132rem;
        margin-top: 14rem;
    }

    .outer13 {
        box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.5);
        background-color: rgba(64, 169, 255, 1);
        border-radius: 8px;
        height: 62rem;
        width: 341rem;
        margin: 67rem 0 0 144rem;
    }

    .info8 {
        width: 168rem;
        height: 40rem;
        overflow-wrap: break-word;
        color: rgba(255, 255, 255, 1);
        font-size: 28rem;
        font-family: PingFangSC-Semibold;
        text-align: right;
        white-space: nowrap;
        line-height: 40rem;
        display: block;
        margin: 12rem 0 0 87rem;
    }
}
