.navbar {
    padding: 45rem 60rem 51rem 56rem;
}

.navbar--item {
    font-size: 24rem;
    font-weight: 600;
    color: #003A8C;
    text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    position: relative;
    cursor: pointer;
    margin-right: 55rem;
    transition: transform 400ms ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    &::after {
        content: "";
        width: 0;
        transition: width 300ms ease-in-out;
        height: 2rem;
        position: absolute;
        bottom: -5rem;
        left: 50%;
        transform: translate(-50%, 0);
        height: 4rem;
        background: #D96416;
        box-shadow: 0 2rem 4rem 0 rgba(0, 0, 0, 0.26);
        border-radius: 1rem;
    }

    &:hover::after {
        width: 100%;
    }
}

.navbar--logo {
    margin-right: 35rem;
}

.navbar--github {
    gap: 8rem;

    svg {
        width: 35rem;
        height: 34rem;
    }

    div {
        padding: 2rem 17rem;
        background: #BFBFBF;
        border-radius: 9rem;
        color: white;
        font-size: 15rem;
        font-weight: 600;
    }
}
