.plate{
    background: rgba(245, 245, 245, 0.6);
    box-shadow: 4rem 6rem 6rem 2rem rgba(0, 0, 0, 0.18);
    border-radius: 26rem;
    backdrop-filter: blur(10rem);

    padding: 60rem 50rem;
    margin: 30rem 60rem;
}